@import "tailwindcss";

@theme {
  --color-fundo: #f5f2eb;
  --color-titulo: #1e5d5a;
  --color-botao: #4FAF9E;
  --color-texto: #333333;
  --color-destaque: #F7D9D0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  background: black;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}